riveracreators.com, www.riveracreators.com {
	encode zstd gzip

	@media path /media/*
	reverse_proxy @media api:4000
	reverse_proxy web:3000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}
